//====================
//    TYPOGRAPHY
//====================

html
    font-family:  'Now', sans-serif


pre, code, source
    font-family: 'Roboto Mono', monospace


//=====================
//       COLORS
//=====================

$blue: #1389FD

html
    --blue: #1389FD
    --blue-light: #89c4fe
    --blue-dark: #006BD4
    --offset-blue: #E7F8FF
    --offset-blue-dark: #c7edff
    --grey: #F3F3F3
    --red: #D50000
    --red-light: #ff3519
    --offset-red: #FF9E9E


//=====================
//       SHADOWS
//  Shadows range in
//   intensity from
//    level 1 to 5
//=====================

//Values from https://codepen.io/sdthornton/pen/wBZdXq
=shadow($level:2)
    @if $level == 1
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    @else if $level == 2
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @else if $level == 3
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    @else if $level == 4
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    @else if $level == 5
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    @else
        box-shadow: none


// ====================
//     INTERACTIONS
//=====================

.material-icons, .material-icons-outlined
    user-select: none


button, a, select
    cursor: pointer


//=====================
//     TRANSITIONS
//=====================
.page-enter-active, .page-leave-active
    transition: all 0.25s


.page-enter, .page-leave-active
    opacity: 0


//=====================
//     ANIMATIONS
//=====================

@keyframes blink
    0%
        opacity: 0
    49.999%
        opacity: 0
    50%
        opacity: 1
    100%
        opacity: 1

.anim--blink
    animation: blink 1s linear infinite

@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes fade-out
    0%
        opacity: 1
    100%
        opacity: 0

//=====================
//    BREAKPOINTS
//=====================

$bk-desktop: 1000px
$bk-tablet: 500px
$bk-sidebar: 650px

=desktop
    @media ( min-width: $bk-desktop )
        @content

=mobile
    @media ( max-width: $bk-desktop - 1px )
        @content

=phone
    @media ( max-width: $bk-tablet - 1px )
        @content

=tablet
    @media ( min-width: $bk-tablet )
        @content


//============================
//    MATERIAL ICONS HELPER
// Used with @extends to allow
// material icons in pseudo-els
//============================

@mixin material-icons
    .material-icons
        direction: ltr
        display: inline-block
        font-size: 24px
        line-height: 1
        font-family: 'Material Icons'
        font-style: normal
        font-weight: normal
        letter-spacing: normal
        text-transform: none
        white-space: nowrap
        word-wrap: normal
        -webkit-font-feature-settings: 'liga'
        -webkit-font-smoothing: antialiased


//=====================
//       MODULES
//=====================
@import 'toasts.sass'
